/*Comportement des listes*/

.lshorizontal{ /*liste menu a l'horizontale*/
    display:flex;
    justify-content: space-between;
    margin: auto;
}
.lsimage{ /* liste horizontale */
    display:flex;
}
.lsvertical{ /* liste verticale */
    display:flex;
    flex-direction:column;
}
.menuliens{
    display:flex;
    margin: auto;
}
/*MARGE*/
.margimage li{
    padding-left: -30px;
    padding-right: -30px;
}
#repartir{ /*répaartir*/
    display: flex;
    justify-content:space-around;
}
/*police*/
h2{
    margin: auto;
    font-size:240%;
    color: #333333;
}
.finsection{ /* a(lien) fin de section*/
    color:#005EA8;
    font-size: 80%;
}
a{
    text-decoration: none;
    font-family: montserratSemiBold, Arial, sans-serif;
    color: #333333;
    display: block;
    font-weight: 600;
}
a:hover{
    color:#1ca2eb;
}
/************************/
img{
    height:12rem;
    width:9rem;
}
img:hover{
    -webkit-filter: brightness(0.70);
    filter: brightness(0.70);
}
li{ /*enlever le point ul*/
    list-style-type:none;
}
body{
    background-color: #FFFFFF;
    margin-right:10%;
    margin-left:10%;
}
html{
    background-color: grey;
    font-size:62,5%;
}
/*header*/
header{
    background-color: #FECC00;
}
header p{
    background-color: #FFFFFF;
    font-size: 1rem;
    align-self: center;
}
#barre{ /*centrer la barre de recherche*/
    margin:auto;
}

/*CINEMA*/

#imgnewcine{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
}
#imgnewcine img{
}
#emission{
    background-color: #333333;
}


/*SERIE*/



/*EMISSION ALLOCINE*/



/*SE DIVERTIR A LA MAISON*/


/*STARS*/