/*Comportement des listes*/

.lshorizontal{ /*liste menu a l'horizontale*/
    display:flex;
    justify-content: space-between;
    margin: auto;
}
.lsimage{ /* liste horizontale */
    display:flex;
}
.lsvertical{ /* liste verticale */
    display:flex;
    flex-direction:column;
}
.menuliens{
    display:flex;
    margin: auto;
}
#repartir{
    display: flex;
    justify-content:space-around;
}
/*police position*/
.titreh2{
    margin: auto;
}

/************************/
img{
    height:100px;
    width:100px;
}

li{ /*enlever le point ul*/
    list-style-type:none;
}
a{
    text-decoration: none;
    font-family: sans-serif;   
}
body{
    background-color: #F2F2F2;
    margin-right:10%;
    margin-left:10%;
}
html{
    background-color: grey;
}
/*header*/
header{
    background-color: #FECC00;
}
header a{
    color: #333333;
}
header p{
    background-color: #FFFFFF;
    font-size: 12px;
    align-self: center;
}
#barre{ /*centrer la barre de recherche*/
    margin:auto;
}

/*CINEMA*/

#imgnewcine{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
}
#imgnewcine img{
    width: 100%;
}
#emission{
    background-color: #333333;
}


/*SERIE*/



/*EMISSION ALLOCINE*/



/*SE DIVERTIR A LA MAISON*/


/*STARS*/