/*Comportement des listes*/

.lshorizontal{ /*liste menu a l'horizontale*/
    display:flex;
    justify-content: space-between;
    margin: auto;
}
.lsimage{ /* liste horizontale */
    display:flex;
}
.lsvertical{ /* liste verticale */
    display:flex;
    flex-direction:column;
}
.menuliens{
    display:flex;
    margin: auto;
}
/*police position*/
.titreh2{
    margin: auto;
}

/************************/
img{
    height:100px;
    width:100px;
}

li{ /*enlever le point ul*/
    list-style-type:none;
}

body{
    background-color: #F2F2F2;
    margin-right:10%;
    margin-left:10%;
}

/*header*/

#barre{ /*centrer la barre de recherche*/
    margin:auto;
}

/*CINEMA*/

#imgnewcine{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
}
#imgnewcine img{
    width: 100%;
}

/*SERIE*/



/*EMISSION ALLOCINE*/



/*SE DIVERTIR A LA MAISON*/

#divertir{
    background-color: rosybrown;
}

#stars{
    background-color: purple;
}
#stars nav{
    background-color: darkolivegreen;
}
#stars section{
    background-color: chocolate;
}
/*STARS*/